<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18594827998-qepdadf7lvpc97qliv9gfsmo1inuu47n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18594827998-qepdadf7lvpc97qliv9gfsmo1inuu47n</string>
	<key>API_KEY</key>
	<string>AIzaSyAHBW3gOX_H-oQSOFg-bLZt97QajOkpvns</string>
	<key>GCM_SENDER_ID</key>
	<string>18594827998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.instagramFlutterClone</string>
	<key>PROJECT_ID</key>
	<string>instagram-clone-b7c11</string>
	<key>STORAGE_BUCKET</key>
	<string>instagram-clone-b7c11.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18594827998:ios:52ff08c6a71d00f8bf3c4f</string>
</dict>
</plist>